<div class="page-header">
    <h1>Hosts</h1>
</div>
<div>
    <div ng-repeat="group in hostGroups.HostGroups" class="panel" ng-class="{'panel-success':group.State==='UP', 'panel-danger':group.State==='DOWN', 'panel-warning':group.State === 'WARN'}">
        <div class="panel panel-heading">
            <h4>{{group.Name}}</h4>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                <tr>
                    <th><a href="#/hosts" ng-click="orderByField='Name';reverseSort=!reverseSort">Host</a></th>
                    <th><a href="#/hosts" ng-click="orderByField='Location';reverseSort=!reverseSort">Location</a></th>
                    <th><a href="#/hosts" ng-click="orderByField='State';reverseSort=!reverseSort">State</a></th>
                    <th><a href="#/hosts" ng-click="orderByField='LastStateChange';reverseSort=!reverseSort">Last State Change</a></th>
                    <th><a href="#/hosts" ng-click="orderByField='LastUpdate';reverseSort=!reverseSort">Last Update</a></th>
                </tr>
                <tr ng-repeat="host in group.Hosts | orderBy:orderByField:reverseSort" ng-class="{'danger':host.State === 'DOWN', 'warning':host.State === 'WARN'}">
                    <td><a href="#/hosts/{{host.Id}}">{{host.Name}}</a></td>
                    <td>{{host.Location}}</td>
                    <td>{{host.State}}</td>
                    <td title="{{host.LastStateChange | longDateTime }}">{{host.LastStateChange | fromNow}}</td>
                    <td title="{{host.LastUpdate | longDateTime }}">{{host.LastUpdate | fromNow}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
