<div class="page-header">
<h1>Hosts</h1>
</div>
<div>
<table class="table table-striped">
    <tr>
        <th><a href="#/hosts" ng-click="orderByField='Name';reverseSort=!reverseSort">Host</a></th>
        <th><a href="#/hosts" ng-click="orderByField='Location';reverseSort=!reverseSort">Location</a></th>
        <th><a href="#/hosts" ng-click="orderByField='State';reverseSort=!reverseSort">State</a></th>
        <th><a href="#/hosts" ng-click="orderByField='LastStateChange';reverseSort=!reverseSort">Last State Change</a></th>
        <th><a href="#/hosts" ng-click="orderByField='LastUpdate';reverseSort=!reverseSort">Last Update</a></th>
    </tr>
    <tr ng-repeat="host in hosts | orderBy:orderByField:reverseSort" ng-class="{'danger':host.IsDanger}">
        <td><a href="#/host" ng-click="goToView('#/host', host.Id)">{{host.Name}}</a></td>
        <td>{{host.Location}}</td>
        <td ng-model="host.IsDanger">{{host.State}}</td>
        <td>{{host.LastStateChange | fromNow}}</td>
        <td>{{host.LastUpdate | fromNow}}</td>
    </tr>
</table>
</div>
