    <div class="page-header">
        <h1>System Status</h1>
    </div>
    <div>
        <div class="row"><span>Last update: {{lastUpdate}}</span></div>
        <div class="row"><span>Start time: {{startTime}}</span></div>
        <div class="row"><span>System health: {{systemHealth}}</span></div>
        <div class="row"><span>Uptime: {{uptime}}</span></div>
        <div class="row"><span>Memory: {{usedMemory}}</span></div>
        <div class="row"><span>CPU: {{cpu}}</span></div>
    </div>
